.idea

# Logs
logs
*.log
npm-debug.log*

# Node.js
frontend/node_modules/
frontend/dist/

# Python
__pycache__
venv
*.pyc

# macOs
.DS_Store

/upload/
!/upload/.gitkeep
/venv/

/dist
/*.egg-info

/test_*.py